<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="hibernate.dialect">
		      org.hibernate.dialect.MySQLDialect
		   </property>
		   <property name="hibernate.connection.driver_class">
		      com.mysql.jdbc.Driver
		   </property>
		 <property name="hibernate.hbm2ddl.auto">update</property>
		   <!-- Assume test is the database name -->
		   <property name="hibernate.connection.url">
		      jdbc:mysql://localhost:3306/test
		   </property>
		   <property name="hibernate.connection.username">
		      root
		   </property>
		   <property name="hibernate.connection.password">
		      123
		   </property>
		<property name="hibernate.connection.useUnicode">true</property>
		<property name="hibernate.connection.characterEncoding">UTF-8</property>
		<property name="hibernate.connection.charSet">UTF-8</property>
		<mapping class="com.ihs.ats.api.Attendance" />
		<mapping class="com.ihs.ats.api.Leave" />
		<mapping class="com.ihs.ats.api.PublicHoliday" />
		<mapping class="com.ihs.ats.api.Tracking" />
		<mapping class="com.ihs.ats.api.User" />
		<mapping class="com.ihs.ats.api.WorkGroup" />
		<mapping class="com.ihs.ats.api.WorkGroupType" />
		<mapping class="com.ihs.ats.api.WorkGroupMapper" />
	</session-factory>
</hibernate-configuration>